@header-hover: #F95124;
@paragraph-black: #000000;
@paragraph-grey: #403F3F;
@paragraph-white: #ffffff;
@button: #F2994A;
@button-hover: #EB7F20;
@footer: #F4AD6E;
@form-field-height: 42px;


.background {
  position: static;
  z-index: -1;
  float:right;
}

.actual-content {
  font-family: 'Asap', sans-serif;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: auto;
}

.header {
  display: flex;
  flex: 0 1 auto;
  padding: 10px;
  font-weight: 500;
  height: 40px;
}

.header-logo {
  float: left;
  padding: 7px;
  margin-right: 40vw;
}

.header-list {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  margin: 2px 5px;
  float: right;

  li {
    float: right;
    color: #000000;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }

  li:hover {
    color: @header-hover;
  }
}

ul li:not(:last-child) {
  margin-right: 4vw;
}

.options {
  float: right;
  padding: 8px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    background-color: @button;
    opacity: 60%;
    height: 100px;
    width: inherit;
    align-items: center;
    justify-content: center;
}

.input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    border-radius: 40px;
    height: @form-field-height;
    width: 18vw;
    border: 1px solid @paragraph-grey;
    margin-right: 1vw;
}

#date-field {
    width: 9vw;
}

input {
    outline: none;
}