<div class="page">
  <div class="top">
    <div class="background">
      <img src="assets/hero.png">
    </div>

    <div class="header">
      <div class="header-logo">
        <img src="../assets/logo.svg" height="28px">
      </div>
      <div class="options">
        <ul class="header-list">
          <li><a [routerLink] = "['/find']">Find a caretaker </a></li>
          <li><a [routerLink] = "['/login']">Login </a></li>
          <li><a [routerLink] = "['/signup']">Sign Up </a></li>
        </ul>
      </div>
    </div>

    <div class="words">
      <div id="peace">Find peace of mind</div>
      <div id="hire">Hire an experienced pet sitter</div>
    </div>
  </div>

  <div class="content">
    <div class="find">
      <div class="title">How to find a pet caretaker</div>
      <div class="subtitle">PoochFriendly is 100% free for pet owners. You only pay for the sitter you choose.</div>
      
      <div class="table">
        <mat-card>
          <div class="information">
            <div class="card-title"><mat-icon>search</mat-icon>Search a caretaker</div>
            <div class="card-subtitle">Discover verified caretaker near your area who provide quality services.</div>
          </div>
        </mat-card>

        <mat-card>
          <div class="information">
            <div class="card-title"><mat-icon>ballot</mat-icon>Bid for a caretaker</div>
            <div class="card-subtitle">Found a caretaker? Bid for their services via their listing.</div>
          </div>
        </mat-card>

        <mat-card>
          <div class="information">
            <div class="card-title"><mat-icon>attach_money</mat-icon>Pay for the service</div>
            <div class="card-subtitle">You can pay your caretaker either through cash or wireless payment.</div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="become">
      <div class="title">How to become a pet sitter</div>
      <div class="subtitle">Passionate about animals? Join our network of pet caretakers.</div>

      <div class="table">
        <mat-card>
          <div class="information">
            <div class="card-title"><mat-icon>account_circle</mat-icon>Create an account</div>
            <div class="card-subtitle">Create a free account to apply to be a caretaker.</div>
          </div>
        </mat-card>

        <mat-card>
          <div class="information">
            <div class="card-title"><mat-icon>check_circle</mat-icon>Wait for verification</div>
            <div class="card-subtitle">Our team will take about a week to vet your application and verify you.</div>
          </div>
        </mat-card>

        <mat-card>
          <div class="information">
            <div class="card-title"><mat-icon>announcement</mat-icon>Advertise yourself</div>
            <div class="card-subtitle">Advertise your availability, rates, and preferred pets to start getting jobs.</div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer-text">
      Are you a PoochFriendly administrator? Click <a [routerLink] = "['/admin']"><b>here</b></a> to log in.
    </div>
  </div>
</div>