<div class="page">
  <div class="background">
    <img src="assets/blob.svg" height="400px">
  </div>

  <div class="actual-content">
    <div class="header">
      <div class="header-logo">
        <img src="assets/logo.svg" height="28px">
      </div>
      <div class="options">
        <ul class="header-list">
          <li><a [routerLink] = "['/find']">Find a caretaker</a></li>
          <li ><a [routerLink] = "['/login']">Login</a></li> <!-- ngIf NOT authenticated-->
          <li><a [routerLink] = "['/signup']">Sign Up</a></li> <!-- ngIf NOT authenticated-->
          <li ><a [routerLink] = "['/login']">Login</a></li> <!-- ngIf authenticated-->
          <!-- <li><a [routerLink] = "['/bids']">Your bids</a></li> ngIf authenticated AND pet owner
          <li><a [routerLink] = "['/jobs']">Your jobs</a></li>  ngIf authenticated AND caretaker
          <li><a [routerLink] = "['/profile']">Profile</a></li>  ngIf authenticated
          <li><a href=""><i class="fas fa-sign-out-alt"></i></a></li>  ngIf authenticated -->
        </ul>
      </div>
    </div>

    <div class="auth">
      <h1>Sign Up</h1>
      <form [formGroup]="registerForm">
        <p>Personal Information</p>
        <label class="first-label" for="name">Name</label>
        <input class="field" id="name" type="text" formControlName="name">
        <label for="email">E-mail</label>
        <input class="field" id="email" type="email" formControlName="email">
        <label for="address">Address</label>
        <input class="field" id="address" type="text" formControlName="address"><br><br>
        <mat-divider></mat-divider>

        <label for="username">Username</label>
        <input class="field" id="username" type="text" formControlName="username">
        <label for="password">Password</label>
        <input class="field" id="password" type="password" formControlName="password">
        <label for="confirm-password">Confirm password</label>
        <input class="field" id="confirm-password" type="password" formControlName="confirmPassword"><br><br>
        <mat-divider></mat-divider>

        <label>Account type</label>
        <div class="type-checkbox">
          <label class="container">Pet owner
            <input type="checkbox" formControlName="typePetowner">
            <span class="checkmark"></span>
          </label>
          <label class="container">Caretaker
            <input type="checkbox" formControlName="typeCaretaker">
            <span class="checkmark"></span>
          </label>
        </div>


        <div class="enabled">
          <p>Caretaker Details</p>
          <div class="type-checkbox">
            <label class="container">Full-time
              <input type="radio" name="caretaker-role" formControlName="caretakerRole">
              <span class="radio"></span>
            </label>
            <label class="container">Part-time
              <input type="radio" name="caretaker-role" formControlName="caretakerRole">
              <span class="radio"></span>
            </label>
          </div>


          <label>Select pet categories to care for</label>
          <div><i>~insert a <b>multiselect</b> dropdown here~</i></div>
        </div>

        <div class="enabled">
          <p>Pet Information</p>
          <div>
            <label id="no-of-pets-label">How many pets do you have?</label>
            <input class="field" id="no-of-pets-input" type="text" formControlName="noOfPets" (change)="onChangePets($event)">
          </div>

          <div *ngFor="let pets of pe.controls; let i = index" class="pet-info" formArrayName="petInfo">
            <br><br><mat-divider></mat-divider>
            <p style="font-size: 17px; font-weight: 400; margin-bottom: 5px;">Pet {{i + 1}}</p>
            <label class="first-label" for="name">Name</label>
            <input class="field" id="name" type="text" formControlName="name">

            <label>Select pet category of pet</label>
            <div><i>~ insert a dropdown here~</i></div><br/>

            <label>Special requirements</label>
            <textarea class="field" style="resize: vertical;"></textarea>
          </div>
        </div>
        
        <input class="button" type="submit" value="Sign up">
        <div class="terms">
          By signing up, I agree to PoochFriendly's <u>Terms of Service and Privacy Policy</u>,
          and consent to receiving email communication.
        </div>
      </form>
    </div>
  </div>
</div>
