<div class="page">
  <div class="background">
    <img src="assets/blob.svg" height="400px">
  </div>

  <div class="actual-content">
    <div class="header">
      <div class="header-logo">
        <img src="assets/logo.png" height="28px">
      </div>
      <div class="options">
        <ul class="header-list">
          <li><a href="http://localhost:4200/login">Find a caretaker </a></li>
          <li><a href="http://localhost:4200/login">Login </a></li>
          <li><a href="http://localhost:4200/signup">Sign Up </a></li>
        </ul>
      </div>
    </div>
</div>

    <div class="auth">
      <h1>Log In</h1>
      <form [formGroup]="loginForm">
        <label for="login-user">Username</label>
        <input class="field" id="login-user" type="text" formControlName="user">
        <label for="login-password">Password</label>
        <input class="field" id="login-password" type="password" formControlName="userPassword">
        <input class="button" type="submit" value="Login">
        <p><u>Forgot your password?</u></p>
      </form>
    </div>
  </div>
</div>


