
.login-page {
    display: table;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 12px;
    display: flex;
    height: 12vh;
}

.logo {
    float: left;    
    padding: 8px;
    width: 50%;
    margin-left: 10%;
}

.header-list {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    padding: 8px;
    margin: 2px;
    float: right;
}

.header-list li {
    float: right;
    margin-right: 3vw;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    float: right;
    cursor: pointer;
    
}

ul li:last-child {
    margin-right: 14vw ;
}

.options {
    width: 50%;
    float: right;
    padding: 8px;
}

.auth {
    width: 100%;
    display: flex;
    margin-top: 12vh;
    height: auto;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
}



.footer {
    color: #F4AD6E;
    height: 12vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background: #F4AD6E 0% 0% no-repeat padding-box;
    opacity: 1;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    padding: 8px;
    margin: 2px;
    float: left;
}

.footer-list li {
    float: right;
    margin-left: 3vw;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    float: right;
    cursor: pointer;
    
}
