.login-page {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    height: 100%;
}

.header {
    flex: 0 1 auto;
}

.logo {
    float: left;    
    padding: 8px;
    margin-left: 10%;
}

.header-list {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    padding: 4px;
    margin: 2px;
    float: right;
}

.header-list li {
    float: right;
    margin-right: 3vw;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    float: right;
    cursor: pointer;
    
}

ul li:last-child {
    margin-right: 14vw ;
}

.options {
    float: right;
    padding: 8px;
}

.footer {
    position: absolute;
    bottom: 0 ;
    color: #F4AD6E;
    height: 12vh;
    width: 100%;
    flex: 0 1 auto;
    //padding: 8px;
    background: #F4AD6E 0% 0% no-repeat padding-box;
    opacity: 1;
}

.auth {
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    
    
}  

.login-fields {
    border-radius: 15px;
    height: 30px;
    width: 20vw;
    border: 1px solid #4B4B4B;
    text-align: center;
}

.login-fields:focus{outline:none;}



.footer-list {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    padding: 8px;
    margin: 2px;
    float: left;
}

.footer-list li {
    float: right;
    margin-left: 3vw;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    float: right;
    cursor: pointer;
    
}
