<div>
    <div class="login-page" *ngIf="showLoginPage">
        <div class="header">
            <div class="logo">

            </div>
            <div class="options">

            </div>
        </div>
        <div class="login-options">
            <div class="third-party-auth">

            </div>
            <div class="pooch-auth">

            </div>
        </div>
        <div class="auth"> <!-- for login/ forgot password -->

        </div>
    </div>

    <div class="register-page" *ngIf="!showLoginPage">
        <div class="header">
            <div class="logo">

            </div>
            <div class="options">

            </div>
        </div>
        <div class="resister-options">
            <div class="third-party-auth">

            </div>
            <div class="pooch-auth">

            </div>
        </div>
        <div class="terms-and-conditions"> <!-- for terms and conditions -->

        </div>
    </div>
</div>
