<div class="page">
    <div class="header">
        <div class="header-logo">
          <img src="assets/logo.svg" height="28px">
          <h3 id="admin-logo">Admin</h3>
        </div>
        <div class="options">
            <ul class="header-list">
                <li><a [routerLink] = "['/admin/view-pet-categories']">View pet categories</a></li>
                <li><a [routerLink] = "['/admin/verify-caretaker']">Verify caretaker</a></li>
                <li><a [routerLink] = "['/admin/approve-leave']">Approve leave</a></li>
                <li><a [routerLink] = "['']"><mat-icon>exit_to_app</mat-icon></a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="pending-leave-applications">
            <h1 class="heading">Pending leave applications</h1>
            <ngx-datatable class="material" [columnMode]="'force'" [rows]="PendingLeave" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" > 
                <ngx-datatable-column name="Name"></ngx-datatable-column>
                <ngx-datatable-column name="Username"></ngx-datatable-column>
                <ngx-datatable-column name="Leave Start"></ngx-datatable-column>
                <ngx-datatable-column name="Leave End"></ngx-datatable-column>
                <ngx-datatable-column name="" [width]="180" [sortable]="false" prop="name">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <input type="button" class="button" id="approve-button" (click)="onApproveSelect(row)" value="Approve" />
                        <input type="button" class="button" id="reject-button" (click)="onRejectSelect(row)" value="Reject"/>
                    </ng-template>
            </ngx-datatable-column>
            </ngx-datatable>
        </div>

        <div class="caretaker-leave-history">
            <h1 class="heading">Caretaker leave history</h1>
            <ngx-datatable class="material" [columnMode]="'force'" [rows]="LeaveHistory" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" > 
                <ngx-datatable-column name="Name"></ngx-datatable-column>
                <ngx-datatable-column name="Username"></ngx-datatable-column>
                <ngx-datatable-column name="Leave Start"></ngx-datatable-column>
                <ngx-datatable-column name="Leave End"></ngx-datatable-column>
                <ngx-datatable-column name="Approved On"></ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>