<div class="page">
  <div class="background">
    <img src="assets/blob.svg" height="400px">
  </div>

  <div class="actual-content">
    <div class="header">
      <div class="header-logo">
        <img src="assets/logo.svg" height="28px">
      </div>
      <div class="options">
        <ul class="header-list">
          <li><a href="http://localhost:4200/login">Find a caretaker </a></li>
          <li><a href="http://localhost:4200/login">Login </a></li>
          <li><a href="http://localhost:4200/signup">Sign Up </a></li>
        </ul>
      </div>
    </div>

    <div class="auth">
      <h1>Sign Up</h1>
      <form [formGroup]="registerForm">
        <label for="signup-name">Name</label>
        <input class="field" id="signup-name" type="text" formControlName="user">

        <label for="signup-email">E-mail</label>
        <input class="field" id="signup-email" type="text" formControlName="userPassword">

        <label for="signup-address">Address</label>
        <input class="field" id="signup-address" type="text" formControlName="userPassword"><br><br>
        <mat-divider></mat-divider>
        <label for="signup-username">Username</label>
        <input class="field" id="signup-username" type="text" formControlName="userPassword">

        <label for="signup-password">Password</label>
        <input class="field" id="signup-password" type="password" formControlName="userPassword">

        <label for="signup-confirm-password">Confirm password</label>
        <input class="field" id="signup-confirm-password" type="password" formControlName="userPassword">

        <input class="button" type="submit" value="Sign up">
        <div class="terms">
          By signing up, I agree to PoochFriendly's <u>Terms of Service and Privacy Policy</u>,
          and consent to receiving email communication.
        </div>
      </form>
    </div>
  </div>
</div>
