<div class="page">
    <div class="background">
      <img src="assets/blob.svg" height="400px">
    </div>
  
    <div class="actual-content">
        <div class="header">
            <div class="header-logo">
                <img src="assets/logo.svg" height="28px">
            </div>
            <div class="options">
            <ul class="header-list">
                <li><a [routerLink] = "['find']">Find a caretaker</a></li>
                <li ><a [routerLink] = "['login']">Login</a></li> <!-- ngIf NOT authenticated-->
                <li><a [routerLink] = "['signup']">Sign Up</a></li> <!-- ngIf NOT authenticated-->
                <li ><a [routerLink] = "['login']">Login</a></li> <!-- ngIf authenticated-->
                <!-- <li><a [routerLink] = "['bids']">Your bids</a></li> ngIf authenticated AND pet owner
                <li><a [routerLink] = "['jobs']">Your jobs</a></li>  ngIf authenticated AND caretaker
                <li><a [routerLink] = "['profile']">Profile</a></li>  ngIf authenticated
                <li><a href=""><i class="fas fa-sign-out-alt"></i></a></li>  ngIf authenticated -->
            </ul>
            </div>
        </div>
  
        <div class="auth">
            <h1>Leave a review</h1>
            <form [formGroup]="reviewForm">
                <label class="first-label" for="rating">Rating</label>
                <input class="field" id="rating" type="text" placeholder="1 (very bad) to 5 (very good)" formControlName="rating">
                <label>Review</label>
                <textarea class="field" style="resize: vertical;" formControlName="review"></textarea>
                <input class="button" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
  